* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


:root {
  --main-orange-color: #F06E1D;
  --main-gray-color: #D0D4D9;
  --main-font: 'Inter', sans-serif;

}


body {
  height: 100vh;
}



